<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New moon</title>
    <link rel="stylesheet" type="text/css" href="static/newmoon.css"/>
</head>
<body>
    <div class="sky">
        <div class="moon"></div>
    </div>
    
    <div class="skyline"></div>
    
    
    <div class="light">
        <!--
        Batman logo by Stephen Greig:
        http://tangledindesign.com/famous-logos-in-css3-the-dark-knight/
    -->
        <div id="batman-logo">
            <div id="left-white"></div>
            <div id="right-white"></div>
            <div id="top-white"></div>
        </div>
    
    </div>
    
    <div class="skyline"></div>

    <div>Closure</div>
    
</body>
</html>